//- jade index.jade -O index.json -P
doctype html
html
  head
    title Syman Emoji Archive
    link(rel='stylesheet', type='text/css', href='/syman/style.css')
    link(href='https://fonts.googleapis.com/css?family=Cutive+Mono', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1 Syman Emoji Archive
    #emoji-container
      for emoji in emojis
        .emoji-row
          img(src='/img/syman-emoji/' + emoji)
          p #{':' + emoji.split('.')[0] + ':'}

    p Last updated 1.17.16
