html {
  background-color: white;
}

body {
  font-family: 'Cutive Mono';
  text-align: center;
  font-size: 2em;
}

h1 {
  color: gray;
  padding-bottom: 0.6em;
  font-weight: normal;
}

#emoji-container {
  list-style: none;
}

.emoji-row {
  padding-bottom: 1.5em;
  text-align: center;
  /*width: 200px;
  display: block;
  margin: 0 auto;*/
}
